rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.accessLevel >= 10;
    }
    
    // Rules for 'users' collection
    match /users/{userId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
      allow write: if isOwner(userId); // Allow users to update their own profile
    }

    // Rules for 'tasks' collection
    match /tasks/{taskId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update, delete: if isAdmin() || (isSignedIn() && (request.auth.uid == resource.data.assignedByUID || request.auth.uid == resource.data.assignedToUID));
    }

    // Rules for 'divisions' collection
    match /divisions/{divisionId} {
      allow read: if true;
      allow write: if isAdmin(); 
    }
    
    // Rules for 'workPrograms' collection
    match /workPrograms/{programId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Rules for 'galleryImages' collection
    match /galleryImages/{imageId} {
      allow read: if true;
      allow write: if isAdmin();
    }

    // Rules for 'fundRequests' collection
    match /fundRequests/{requestId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }

    // Rules for 'financialReports' collection
    match /financialReports/{reportId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || (isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.position.matches('Bendahara.*'));
    }

    // E-Voting Rules
    function isElectionActive() {
      return get(/databases/$(database)/documents/election/main-election).data.isActive == true;
    }
    
    match /election/{electionId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    
    match /candidates/{candidateId} {
      allow read: if true;
      allow update: if isAdmin() || (isSignedIn() && isElectionActive() && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['voteCount'])); // Allow vote count update
      allow create, delete: if isAdmin();
    }

    match /votes/{voteId} {
      allow read: if isOwner(request.resource.data.voterId) || isAdmin();
      // Allow create only if the election is active and the user hasn't voted yet.
      allow create: if isSignedIn() 
                      && isElectionActive() 
                      && request.auth.uid == request.resource.data.voterId
                      && !exists(/databases/$(database)/documents/votes/$(request.auth.uid));
      allow delete, update: if false;
    }
  }
}
